<html>
    <head>
        <title>Input File Upload</title>
    </head>
    <body>
        <h1>Upload file</h1>

        <form action="/scores" method="GET" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload file">
        </form>
    </body>
</html>